<%= form_for(@host) do |f| %>
  <% if @host.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@host.errors.count, "error") %> prohibited this host from being saved:</h2>

      <ul>
      <% @host.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from %><br />
    <%= f.text_field :from, :class => 'address-picker-input'  %>
  </div>
  <div class="field">
    <%= f.label :to %><br />
    <%= f.text_field :to, :class => 'address-picker-input'  %>
  </div>
  <div class="field">
    <%= f.label :when %><br />
    <%= f.date_select :when %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.time_select :time %>
  </div>
  <div class="field">
    <%= f.label :flexible %><br />
    <%= f.check_box :flexible %>
  </div>
  
  <!-- ============================================================================ -->

    <script type="text/javascript">

        //AddressPickerRails.Pickers.applyOnReady({
        //    'onLoad':function (railsPicker) {
        //        console.debug("callback for a single pond with ID '%s'", railsPicker.getIdPrefix());
        //    }
        //});

        AddressPickerRails.Pickers.apply({
            'onLoad':function (railsPicker) {
                console.debug("callback for a single host with ID '%s'", railsPicker.getIdPrefix());
            }
        });
    </script>

    <!-- ============================================================================ -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
